<div class="abilityScoreTable" style="grid-template-rows: repeat(@Core.Character.numberOfAbilities, 1fr);">
	@foreach (int i in Enumerable.Range(0, Core.Character.numberOfAbilities))
	{
		<div class="abilityScore">
			<div class="abilityScoreName">@Core.Character.abilityNames[i]</div>
			<div class="abilityModifier">@abilityModifiers[i]</div>
			<input class="abilityScoreInput" @bind-value="Character.abilityScore[i]">
		</div>
	}
</div>

@code {
	[Parameter]
	public Core.Character Character { get; set; }

	private string[] abilityModifiers
	{
		get { return Character.abilityScore.Select(x => Core.Character.CountModifier(x).ToString()).ToArray(); }
	}
}