<div>
	@if (Race is null)
	{
		<h3>Character's race not found</h3>
	}
	else
	{
		<h3>Race: @Race.name</h3>
		<h4>Traits</h4>
		@foreach (var trait in Race.traits)
		{
			<p>@trait.name: @trait.description</p>
		}
	}
</div>

@code {
	[Parameter]
	public Core.GameRace Race { get; set; }
}