@inject IDataAccess dataAccess

<div class="hpBox">
	<label>HP: </label><input class="hpInput" size="4" @bind="Character.currentHP"><label>/@_totalHP</label>
</div>

@code {
	[Parameter]
	required public Core.Character Character { get; set; }
	private int _totalHP
	{
		get
		{
			int classHP = dataAccess.GetCharacterGameClass(Character)?.hitDice??0;
			int conHP = Character.GetAbilityModifier(2);
			return Character.level * (classHP + conHP);
		}
	}
}
