<div class="savingThrows box">
	@foreach (int i in Enumerable.Range(0, Core.Character.numberOfAbilities))
	{
		<BlazorUI.Components.Basic.CharacterMenu.SavingThrowLine Character="@Character" SavingThrowIndex="i" />
	}
</div>

@code {
	[Parameter]
	required public Core.Character Character { get; set; }
}
