<div class="skillBox box">
	@foreach (int i in Enumerable.Range(0, Core.Character.numberOfSkills))
	{
		<BlazorUI.Components.Basic.CharacterMenu.SkillScoreLine Character="@Character" SkillIndex="i" />
	}
</div>

@code {
	[Parameter]
	required public Core.Character Character { get; set; }
}
