@inject IDataAccess dataAccess

<div class="speedBox">
	<label>Speed: @dataAccess.GetCharacterGameRace(Character).speed</label>
</div>

@code {
	[Parameter]
	public Core.Character Character { get; set; }
}
