.mainGrid {
	position: relative;
	top: 0px;
	height: 95vh;
	display: grid;
	grid-template-rows: 1fr 8fr 1fr;
}

.headerGrid {
	position: relative;
	height: 100%;

	display: grid;
	grid-template-columns: 1fr 1fr;
}

.bodyGrid {
	position: relative;
	height: 100%;
	display: grid;
	grid-template-columns: 1fr 2fr 2fr;
	grid-auto-rows: 100%;
}

.characterNameInput {
	border: solid 0px;
	height: 100%;
	font-size: 2em;
}

.footerGrid {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.abilityScoreTable {
	position: relative;
	height: 100%;
	width: 11vh;

	display: grid;
	row-gap: 1vh;
	text-align: center;
}

.abilityScore {
	position: relative;
	height: 11vh;

	display: grid;
	grid-template-rows: 1fr 3fr 1fr;
	border: solid 2px #000000;
}

.abilityScoreName {
	position: relative;
	height: 100%;

	border-bottom: solid 1px #000000;
}

.abilityModifier {
	position: relative;
	height: 100%;
}

.abilityScoreInput {
	position: relative;
	height: 100%;
	width: 60%;

	text-align: center;
	place-self: center;
}

.savingThrows {
	border: solid 2px #000000;
}

.savingThrowText {
	font-size: 0.8em;
	margin-top: 0;
	margin-bottom: 0;
}

.featuresAndTraits {
	display: grid;
	grid-template-rows: 1fr 1fr;
}

.gameRaceBox {
	position: relative;
	border: solid 2px #000000;
}

.gameRaceList {
	position: absolute;
	height: 65%;

	overflow-x: visible;
	overflow-y: auto;
}

.gameClassBox {
	position: relative;
	border: solid 2px #000000;
}

.gameClassList {
	position: absolute;
	height: 65%;
	overflow-x: visible;
	overflow-y: auto;
}
