@page "/character/{characterID}"
@rendermode InteractiveServer
@inject DataAccess DataAccess
@inject NavigationManager Navigation

<PageTitle>@characterID</PageTitle>

<h1>@characterID</h1>

@code {
	[Parameter]
	public string characterID { get; set; }
	private Project20.Character character;

	protected override void OnInitialized()
	{
		base.OnInitialized();

		if(!DataAccess.characters.TryGetValue(characterID, out character))
		{
			Navigation.NavigateTo("/characterNotFound");
		}
	}
}
