@page "/character/{characterID}"
@rendermode InteractiveServer
@inject IDataAccess dataAccess
@inject NavigationManager Navigation

<PageTitle>@characterID</PageTitle>

<BlazorUI.Components.Basic.CharacterMenu.CharacterName character="@character"/>

<BlazorUI.Components.Basic.CharacterMenu.AbilityScore character="@character"/>

<button @onclick="SaveCharacter">Save Character</button>
<button @onclick="DeleteCharacter">Delete Character</button>

@code {
	[Parameter]
	public string characterID { get; set; }
	private Core.Character character;

	protected override void OnInitialized()
	{
		base.OnInitialized();

		if(!dataAccess.GetCharacterDictionary().TryGetValue(characterID, out character))
		{
			Navigation.NavigateTo("/characterNotFound");
		}
	}

	private void DeleteCharacter()
	{
		dataAccess.DeleteCharacter(character);
		Navigation.NavigateTo("/chooseCharacterMenu");
	}

	private void SaveCharacter()
	{
		dataAccess.SaveCharacter(character);
	}
}
