@page "/chooseCharacterMenu"
@rendermode InteractiveServer
@inject IDataAccess dataAccess

<PageTitle>Choose Character</PageTitle>

<h1>Choose Character Menu</h1>

<table>
    <thead>
        <tr>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var characterID in dataAccess.GetAllCharactersIDs())
        {
            var character = dataAccess.GetCharacter(characterID);
            if (character is null) continue;
            else
            {
                <tr>
                    <td><a href="/character/@characterID">@character.Name</a></td>
                </tr>
            }
        }
    </tbody>
</table>
<button class="btn btn-primary" @onclick="NewCharacter">New Character</button>

@code {
    protected override void OnInitialized()
    {
        base.OnInitialized();

        // To have the newest characters, reloading characters data.
        dataAccess.LoadCharacters();
    }

    private void NewCharacter()
    {
        dataAccess.NewCharacter();
    }
}
